/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */

@mixin col {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}

.col {
    @include col;
}

@mixin span($num, $gutter_pc, $gutter_px, $padding, $max_columns) {
    $one_col: (100% - ($gutter_pc * ($max_columns - 1))) / $max_columns;
    width: ($one_col * $num) + ($gutter_pc * ($num - 1));
    border-left-width: $gutter_px;
    padding: $padding;
    margin-left: $gutter_pc;
}

@mixin xrp-col-first {
    margin-left: 0;
}

/* 1. 18 Column Grid 0px - Infinity
-----------------------------------------------------------------------------

Span 1:    5.08333333333%
Span 2:    10.6666666667%
Span 3:    16.25%
Span 4:    21.8333333333%
Span 5:    27.4166666667%
Span 6:    33.0%
Span 7:    38.5833333333%
Span 8:    44.1666666667%
Span 9:    49.75%
Span 10:    55.3333333333%
Span 11:    60.9166666667%
Span 12:    66.5%
Span 13:    72.0833333333%
Span 14:    77.6666666667%
Span 15:    83.25%
Span 16:    88.8333333333%
Span 17:    94.4166666667%
Span 18:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) {
    .xrp {
        .col {
            margin-left: 0.5%;
            padding: 0 0.2%;
        }

        /* --- Gridpak variables ---*/
        $max_columns: 18;
        $padding: 0 0.2%;
        $gutter_px: 0;
        $gutter_pc: 0.5%;

        .row .col:first-child {
            @include xrp-col-first;
        }

        .row {
            clear: both;
        }

        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.

        .xrp-col-3,
        .my_semantic_class_name {
            ...
        }

        */
        .xrp-col-1 {
            @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-2 {
            @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-3 {
            @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-4 {
            @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-5 {
            @include span(5, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-6 {
            @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-7 {
            @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-8 {
            @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-9 {
            @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-10 {
            @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-11 {
            @include span(11, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-12 {
            @include span(12, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-13 {
            @include span(13, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-14 {
            @include span(14, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-15 {
            @include span(15, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-16 {
            @include span(16, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-17 {
            @include span(17, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .xrp-col-18 {
            @include xrp-col-first;
            width: 100%;
        }
    }
}
 
